block content
  img(src=apiRoot + '/item/' + itemId + '/tiles/annotationelement/thumbnail/' + id)
  img(src=apiRoot + '/item/' + itemId + '/tiles/annotationelement/thumbnail/' + id + '?label=1&encoding=PNG&transparent=0')
  img(src=apiRoot + '/item/' + itemId + '/tiles/annotationelement/thumbnail/' + id + '?labeled=1&encoding=PNG')
