svg.r-label-thumbnail
    filter invert(100%)

    .r-annotation-thumbnail
        mix-blend-mode difference

.h-elements-container
    .h-element
        .h-edit-element, .h-include-element, .h-exclude-element
            float left
        .h-element-label
            float left
            margin-right 5px
        .r-thumbnail-link
            float right
        .h-download-element
            float right
        a
            color #333
